<h1><%= @photo.name %></h1>

<% if @photo.image.attached? %>
  <%= image_tag @photo.image %>
<% else %>
  <p>No image available</p>
<% end %>

<%= link_to "Back to Gallery", gallery_path(@photo.gallery) %>