<h1>Galleries</h1>
<div class="galleries-container">
  <% @galleries.each do |gallery| %>
    <div class="gallery-container">
      <h2 class= "gallery-title"><%= gallery.name %> </h2>
        <p class="gallery-description"><%= gallery.description || "no description" %></p>
      <%= link_to "View", gallery, class: "btn view-gallery"%>
    </div>
  <% end %>
</div>
