<h1>Make a new Gallery</h1>

<%= form_with model: @gallery do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>